<%= form_for [@playlist, @item] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.fields_for :song do |s| %>
      <%= s.label :url %><br>
      <%= s.text_field :url %>
    <% end %>
  </p>
  <%= f.submit %>
<% end %>
