<%= form_for [@playlist, @item] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.fields_for :song do |s| %>
      <%= s.label :url, "URL (see note below regarding valid format)"%>
      <%= s.text_field :url %><br>
    <% end %>
  </p>
  <%= f.submit :class => 'btn' %>
<% end %>
