<%= form_for [@playlist, @item] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= label_tag :url %><br>
    <%= text_field_tag :url %>
  </p>
  <%= f.submit %>
<% end %>
