<%= form_for [@playlist, @item] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :order %><br>
    <%= f.text_field :order %>
  </p>
  <%= f.submit %>
<% end %>
