<%= form_for(@playlist) do |f| %>
<%= f.error_messages %>
  <p>
    <%= f.label :name, "Playlist Name" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, "Please describe your playlist..." %>
    <%= f.text_field :description %>
  </p>
  <p>
    Shared?
    <label class="radio">
    <%= f.radio_button :shared, true %>
    Yes
    </label>
    <label class="radio">
    <%= f.radio_button :shared, false %>
    No
    </label>
  </p>
  <%= f.submit :class => "btn btn-success" %>
</p>
<% end %>
