<%= form_for(@playlist) do |f| %>
<%= f.error_messages %>
  <p>
    <%= f.label :name, "Playlist Name" %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, "Please describe your playlist..." %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    Shared? <br />
    <%= f.radio_button :shared, true %>
    <%= f.label :shared, "Yes" %>
    <%= f.radio_button :shared, false %>
    <%= f.label :shared, "No" %>
  </p>
  <%= f.submit %>
</p>
<% end %>
