<%= form_for(@playlist) do |f| %>
<%= f.error_messages %>
  <p>
    <%= f.label :name, "Playlist Name" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, "Please describe your playlist..." %>
    <%= f.text_area :description, :size => "30x3" %>
  </p>
  <p>
    Shared?<br />
    <label class="radio inline">
    <%= f.radio_button :shared, true %>
    Yes
    </label>
    <label class="radio inline">
    <%= f.radio_button :shared, false %>
    No
    </label>
  </p>
  <p>
    <%= f.label :tag_names, "Tags" %>
    <%= f.text_field :tag_names %>
  </p>
  <%= f.submit :class => "btn btn-success" %>
</p>
<% end %>
