<% title(@playlist.name, "Playlists") %>

<% if current_user.present? %>
<%= link_to "New Item", new_playlist_item_path(@playlist), :class => 'btn btn-success pull-right right-left' %>
<div class="btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-cog"></i> Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% is_playlist_owner(@playlist) do %>
    <li><%= link_to "Edit Playlist", edit_playlist_path(@playlist) %></li>
    <li class="divider"></li>
    <li><%= link_to "Delete Playlist",
         playlist_path(@playlist),
         :method => :delete,
         :data => { :confirm => "Are you sure you want to delete this playlist?" } %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<h3><%= @playlist.name %></h3>
<p class="lead">Description:  <%= @playlist.description %></p>

<div id='playlist'>
  <%= @playlist.items.size %> videos <span id='user'>created by <i class="icon-user"></i> <strong><em><%= getUserFromEmail(@playlist.user.email) %></strong></em></span>
</div><br />


<div class="row-fluid">

  <div class="span4">
    <% if @playlist.items.size > 0 %>
      <div id="player" class="img-polaroid"></div>
    <% end %>
    <div id="tags"><%= render @playlist.tags %></div>
    <h3>Comments</h3>
      <div id='comments'>
      <% if @playlist.comments.exists %>
        <%= render @playlist.comments.select(&:persisted?) %>
      <% else %>
        There are no comments for this playlist.
      <% end %>
      <% if user_signed_in? %>
      <%= render "comments/form" %>
      <% end %>
    </div>
  </div>


  <div class="span8">
    <ol id='items'>
      <%= render @playlist.items %>
    </ol>
      <% if user_signed_in? %>
      <% content_for :javascript do %>
      <%= javascript_tag do %>

      // Sorting the list
      $(document).ready(function(){
        var $items = $('#items');
        $items.sortable({
            dropOnEmpty: false,
            cursor: 'move',
            items: 'li',
            opacity: 0.4,
            scroll: true,
            update: function(){
                        $.ajax({
                        type: 'post',
                        data: $items.sortable('serialize'),
                        dataType: 'script',
                        complete: function(request){
                          $items.effect('highlight');
                          thePlayer.refreshPlayer();
                        },
                        url: '<%= @playlist.id %>/items/sort'})}
            });
      });
      <% end %>
      <% end %>
      <% end %>
  </div><!--span8 -->

</div><!--row-fluid -->
